In [23]:
import requests
import pandas as pd
import datetime as dt

In [24]:
cidade = "Campina Grande"
dia = 10
mes = 11
ano = 2022
data = dt.datetime(ano, mes, dia).timestamp()
hoje = dt.datetime.today().timestamp()

resposta_cidade = requests.get(f"http://api.openweathermap.org/geo/1.0/direct?q={cidade}&appid=51f1f5550cf467bd43498d3a39116d03").json()

In [25]:
lat = resposta_cidade[0]['lat']
lon = resposta_cidade[0]['lon']

historico_qual_ar = requests.get(f'http://api.openweathermap.org/data/2.5/air_pollution/history?lat={lat}&lon={lon}&start={data:.0f}&end={hoje:.0f}&appid=51f1f5550cf467bd43498d3a39116d03').json()

In [26]:
df = pd.json_normalize(historico_qual_ar['list'])
df.head()

,dt,main.aqi,components.co,components.no,components.no2,components.o3,components.so2,components.pm2_5,components.pm10,components.nh3
0,1668049200,1,420.57,0.02,4.37,15.38,0.78,4.99,11.37,0.68
1,1668052800,1,427.25,0.02,5.23,14.66,1.12,5.78,12.42,0.78
2,1668056400,1,433.92,0.02,6.77,13.41,1.61,6.80,13.78,0.91
3,1668060000,1,433.92,0.02,7.97,12.52,2.00,7.66,14.74,1.01
4,1668063600,1,427.25,0.02,8.23,12.34,2.18,8.05,15.29,1.04

In [27]:
df.drop('main.aqi', inplace=True, axis=1)

In [28]:
df.rename(columns={
    'dt':'Data',
    'components.co':'CO μg/m3',
    'components.no':'NO μg/m3',
    'components.no2':'NO μg/m3',
    'components.o3':'NO3 μg/m3',
    'components.so2':'SO2 μg/m3',
    'components.pm2_5':'PM2_5 μg/m3',
    'components.pm10':'PM10 μg/m3',
    'components.nh3':'NH3 μg/m3',
}, inplace=True)
df.head()

,Data,CO μg/m3,NO μg/m3,NO μg/m3,NO3 μg/m3,SO2 μg/m3,PM2_5 μg/m3,PM10 μg/m3,NH3 μg/m3
0,1668049200,420.57,0.02,4.37,15.38,0.78,4.99,11.37,0.68
1,1668052800,427.25,0.02,5.23,14.66,1.12,5.78,12.42,0.78
2,1668056400,433.92,0.02,6.77,13.41,1.61,6.80,13.78,0.91
3,1668060000,433.92,0.02,7.97,12.52,2.00,7.66,14.74,1.01
4,1668063600,427.25,0.02,8.23,12.34,2.18,8.05,15.29,1.04

In [38]:
df['Data'] = pd.to_datetime(df['Data'],unit='s')
df.head()

,Data,CO μg/m3,NO μg/m3,NO μg/m3,NO3 μg/m3,SO2 μg/m3,PM2_5 μg/m3,PM10 μg/m3,NH3 μg/m3
0,2022-11-10 03:00:00,420.57,0.02,4.37,15.38,0.78,4.99,11.37,0.68
1,2022-11-10 04:00:00,427.25,0.02,5.23,14.66,1.12,5.78,12.42,0.78
2,2022-11-10 05:00:00,433.92,0.02,6.77,13.41,1.61,6.80,13.78,0.91
3,2022-11-10 06:00:00,433.92,0.02,7.97,12.52,2.00,7.66,14.74,1.01
4,2022-11-10 07:00:00,427.25,0.02,8.23,12.34,2.18,8.05,15.29,1.04